<template>
	<v-container fluid class="fretboard">
		<v-row no-gutters>
			<v-col v-for="(fret, index) in nuOfFrets" :key="index" class="numerator">
				<div class="numerator-fret">
					<span class="numerator-fret-number">
						{{index}}
					</span>
				</div>
			</v-col>
		</v-row>
		<v-row no-gutters>
			<v-row v-for="(string, stringIndex) in strings" :key="stringIndex" class="string" no-gutters>
				<span class="string-color">
					<v-col v-for="(fret, index) in frets(stringIndex)" :key="index" :class="fretStyle(index)">
						<div :class="fretCircleStyle(fret, index)">
							<v-btn icon @click="changeScaleKeyInt(fret.note)" class="fret-circle-number">
								<span>
									{{fret.note.charAt(0)}}
								</span>
								<span class="sharp">{{fret.note.charAt(1)}}</span>
							</v-btn>
						</div>
					</v-col>
				</span>
			</v-row>
		</v-row>
	</v-container>
</template>

<script>
export default {
	data() {
		return {};
	},

	props: [
		"nuOfStrings",
		"nuOfFrets",
		"strings",
		"scaleKey",
		"scale",
		"notes",
		"config",
		"scaleKeyInt"
	],
	methods: {
		debug() {
			console.log(this.strings);
		},

		changeScaleKeyInt(note) {
			let fret = this.notes.findIndex(x => x == note);
			this.$emit("update-scale-key-int", fret);
		},

		frets(stringIndex) {
			//reverses the order
			let string = this.strings[this.strings.length - stringIndex - 1];

			let arr = [];
			var i;
			for (i = 0; i < this.nuOfFrets; i++) {
				//calculates the fret notes
				var val = i + string;
				var valFloor = Math.floor(val / 12);
				if (val >= 12) {
					val = val - 12 * valFloor;
				}

				//calculates if its in the current scale
				var s = i + string + this.scaleKey;
				var sFloor = Math.floor(s / 12);
				if (s >= 12) {
					s = s - 12 * sFloor;
				}

				var inScale = this.scale[s];
				var scDg = 0;

				function scaleDegree() {
					if (inScale) {
						scDg++;
						return scDg;
					} else return null;
				}

				var obj = {
					note: this.notes[val],
					inScale: inScale,
					s: s,
					scaleDg: scaleDegree(),
					third: this.calcFloorValue(s - 4) == 0,
					fifth: this.calcFloorValue(s - 7) == 0
				};

				arr.push(obj);
			}

			if (stringIndex == 5) {
				console.log("Low E:", arr);
			}

			return arr;
		},

		calcFloorValue(int) {
			var test = int;
			var testFloor = Math.floor(test / 12);
			if (test >= 12) {
				test = test - 12 * testFloor;
			}
			return test;
		},

		fretStyle(index) {
			let fretClass = "";
			fretClass += index == 0 ? " open" : "";

			return "fret" + fretClass;
		},

		fretCircleStyle(fret, index) {
			let fretClass = "";
			//Show label for inactive notes on open strings always
			fretClass += index == 0 && !fret.inScale ? " shown" : "";
			//Hide inactive notes
			fretClass +=
				!fret.inScale && !this.config.shown && index !== 0 ? " hidden" : "";
			//Show label for inactive notes
			fretClass += !fret.inScale && this.config.shown ? " shown" : "";
			//root color
			fretClass += fret.s == 0 && this.config.roots ? " root" : "";
			//third color
			fretClass += fret.third && this.config.thirds ? " third" : "";
			//fifth color
			fretClass += fret.fifth && this.config.fifths ? " fifth" : "";
			//hide if not in the major chord
			fretClass +=
				!fret.fifth &&
				!fret.third &&
				fret.s !== 0 &&
				this.config.chords &&
				!this.config.shown &&
				index !== 0
					? " hidden"
					: "";
			//show label if not in the major chord
			fretClass +=
				!fret.fifth &&
				!fret.third &&
				fret.s !== 0 &&
				this.config.chords &&
				this.config.shown
					? " shown"
					: "";
			//Show label for inacive notes on open strings with major chord
			fretClass +=
				!fret.fifth &&
				!fret.third &&
				fret.s !== 0 &&
				this.config.chords &&
				index == 0
					? " shown"
					: "";

			return "fret-circle" + fretClass;
		}
	}
};
</script>

<style lang="scss">
</style>