<template>
	<v-app-bar flat color="white">
		<v-app-bar-nav-icon>
			<v-btn icon>
				<v-icon color="primary" size="42">mdi-alien</v-icon>
			</v-btn>
		</v-app-bar-nav-icon>
		<v-toolbar-title>
			<h4>
				Fret Bored
			</h4>
		</v-toolbar-title>
		<v-spacer></v-spacer>
		<v-btn text>about</v-btn>
		<v-btn text>frets</v-btn>
	</v-app-bar>
</template>

<script>
export default {};
</script>

<style>
</style>