@import "_colors";

*{ text-transform: none !important; }

.v-application {
    font-family: 'Open Sans', sans-serif !important;
    -webkit-font-smoothing: antialiased;

    .fretboard{
        padding: 0;

        .string{
            width: 100%;
            height: auto;
            position: relative;

            &-color{
                display: flex;
                width: 100%;
                &::before {
                    content: "";
                    position: absolute;
                    height: 50%;
                    width: 100%;
                    top: 0;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.4);

                }
            }
        }
        .numerator {
		    padding: 2px;

            &-fret {
                margin: auto;
                font-size: 12px;
                font-weight: 600;
                color: grey;
                display: flex;
                justify-content: center;

                &-number {
                    display: inline-block;
                }
            }
        }

        .fret{
            z-index: 0;
            padding: 2px;
            border-right: 4px solid rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;

            &:first-child {
                border-right: 4px solid rgba(0, 0, 0, 0.6);
            }

            &.open{
                    background-color: white;
                }
            
            &-circle {
                height: 1.8em;
                width: 1.8em;
                margin: auto;
                color: white;
                border-radius: 50%;
                background-color: rgb(116, 116, 116);
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 3;
                
                &:hover {
                    position: absolute;
                    transform: scale(1.2);
                    transition: all 0.2s;
                }
                
                &-number {
                    display: inline-block;
                    color: white !important;
                    font-size: 16px;

                    .sharp{
                        font-size: 12px;
                        align-self: flex-start;
                        transform: translateX(-0.15vw);
                    }
                }

                &.hidden{
                    opacity: 0;
                    pointer-events: none;

                }

                &.root{
                    background-color: $primary
                }

                &.third{
                    background-color: $error
                }

                &.fifth{
                    background-color: $success
                }

                &.shown{
                    z-index: 2;
                    &:hover{
                        transform: none;
                    }
                    background-color: white;
                    span{
                        color: rgb(150, 150, 150);

                    }
                }
            }
        }
    }
}
