<template>
	<v-app>
		<v-container class="pa-0">
			<v-row justify="center" no-gutters cols="12">
				<v-col xl="8" lg="12" md="12" sm="12" xs="12">
					<navigation></navigation>
					<v-content>
						<Nuxt></Nuxt>
					</v-content>
				</v-col>
			</v-row>
		</v-container>
	</v-app>
</template>

<script>
import navigation from "~/components/navigation.vue";

export default {
	data() {
		return {};
	},
	components: {
		navigation
	}
};
</script>
