<template>
	<v-container class="pa-0">
		<div class="pb-10"></div>

		<fretboard :nuOfStrings="nuOfStrings" :nuOfFrets="nuOfFrets + 1" :strings="strings" :scaleKey="scaleKey" :scale="scale" :notes="notes" :config="config" :scaleKeyInt="scaleKeyInt" @update-scale-key-int="updateScaleKeyInt"></fretboard>

		<v-row>
			<v-col cols="6">
				<v-card class="mt-6" elevation="0">
					<v-card-title>Display</v-card-title>
					<v-card-text>
						<v-card class="pa-0" elevation="0">
							<v-item-group mandatory v-model="scaleKeyInt">
								<v-row no-gutters>
									<v-col v-for="(note, index) in notes" :key="index" class="pa-1">
										<v-item v-slot:default="{ active, toggle }">
											<v-card :color="active ? 'primary' : 'accent'" class="d-flex align-center" dark height="30" @click="toggle" :elevation="active ? '3' : '0'">
												<div class="flex-grow-1 text-center">
													{{note}}
												</div>
											</v-card>
										</v-item>
									</v-col>
								</v-row>
							</v-item-group>
						</v-card>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col cols="6">
				<v-card class="mt-6" elevation="0">
					<v-card-title class="pb-0">Colors</v-card-title>
					<v-card-text>
						<v-row no-gutters>
							<v-col>
								<v-checkbox v-model="config.roots" :label="`Roots`"></v-checkbox>
							</v-col>
							<v-col>
								<v-checkbox v-model="config.thirds" :label="`Thirds`" color="success"></v-checkbox>
							</v-col>
							<v-col>
								<v-checkbox v-model="config.fifths" :label="`Fifths`" color="error"></v-checkbox>
							</v-col>
						</v-row>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col cols="6">
				<v-card elevation="0">
					<v-card-title>Show</v-card-title>
					<v-card-text>
						<v-row no-gutters>
							<v-col>
								<v-checkbox v-model="config.shown" :label="`Inactive Notes`"></v-checkbox>
							</v-col>
							<v-col>
								<v-checkbox v-model="config.chords" :label="`Only Chords`"></v-checkbox>
							</v-col>
							<v-col>
								<v-text-field v-model.number="nuOfFrets" type="number" label="Frets"></v-text-field>
							</v-col>
						</v-row>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
import fretboard from "~/components/fretboard.vue";

export default {
	data() {
		return {
			nuOfStrings: 6,
			nuOfFrets: 14,
			strings: [7, 12, 17, 22, 26, 31],
			scaleKeyInt: 3,
			scale: [
				true,
				false,
				true,
				false,
				true,
				true,
				false,
				true,
				false,
				true,
				false,
				true
			],
			notes: ["A", "A#", "B", "C", "C#", "D", "D#", "E", "F", "F#", "G", "G#"],
			config: {
				roots: true,
				thirds: false,
				fifths: false,
				shown: false,
				chords: false
			}
		};
	},
	methods: {
		updateScaleKeyInt(e) {
			this.scaleKeyInt = e;
		}
	},
	components: {
		fretboard
	},

	computed: {
		scaleKey() {
			return 12 - this.scaleKeyInt;
		}
	}
};
</script>

<style>
</style>